

h2 {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 90%;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: space-around;
}

li {
    text-decoration: none;
    list-style: none;
}